.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .course {
    width: calc(20% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .course label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .course input[type="text"],
  .course input[type="number"],
  .course select {
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
  }
  
  .course select {
    cursor: pointer;
  }
  
  button[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  
  button[type="button"]:hover {
    background-color: #3e8e41;
  }
  
  button[type="button"]:nth-of-type(2) {
    background-color: #d9534f;
  }
  
  button[type="button"]:nth-of-type(2):hover {
    background-color: #c9302c;
  }
  
  #result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  thead {
    background-color: #ccc;
  }

/* CSS code for phone screens */
@media screen and (max-width: 767px) {
    .course input[type="text"],
    .course input[type="number"],
    .course select {
      width: 70%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      font-family: Arial, sans-serif;
      margin-bottom: 10px;
    }
 }